<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
    <!--
        bean: config a bean object, give the object to IOC(inversion of control) container to handle it
    -->
    <bean id="helloworld" class="org.example.spring.pojo.HelloWorld"/>
    <bean id="studentOne" class="org.example.spring.pojo.Student">
        <property name="sid" value="1001"/>
        <property name="gender">
            <value><![CDATA[<trans>]]></value>
        </property>
        <!--reference created bean id-->
<!--        <property name="clazz" ref="clazzOne"/>-->
        <!--cascade, promise initialise attribute-->
<!--        <property name="clazz.cid" value="2"/>-->
<!--        <property name="clazz.cname" value="B2"/>-->
        <!--inner bean-->
        <property name="clazz">
            <bean id="clazzInner" class="org.example.spring.pojo.Clazz">
                <property name="cid" value="3"/>
                <property name="cname" value="A3"/>
            </bean>
        </property>
        <property name="hobby">
            <array>
                <value>A</value>
                <value>B</value>
            </array>
        </property>
    </bean>
    <bean id="clazzOne" class="org.example.spring.pojo.Clazz">
        <property name="cid" value="1"/>
        <property name="cname" value="C1"/>
        <property name="students">
            <list>
                <ref bean="studentOne"/>
            </list>
        </property>
    </bean>
    <util:list id="studentList"></util:list>
</beans>